In [48]:
# This script creates the Month over Month view for the Credit Building portfolio

# This version of the script regenerates the whole file from scratch.
# Use this version of the script if some data issues have been identified (after the issues have been fixed)
# in the underlying feeder files

In [49]:
import pandas as pd
import pandas_gbq as pgbq
from time import strftime
import datetime
import numpy as np

project_id = 'tensile-oarlock-191715'

# The current reporting month end
# Modify as needed when new script is run
curr_week_end = '2023-01-08'

# The name of the CSV output file. Eventually, this should be commented out.
# Modify as needed when new script is run
csv_out_name = 'creditbuilding_finance_view_2022_03_31_mst.csv'

# This is the output table that we write to in MetaBase
# Do not modify this
out_table = 'credit.CB_finance_view_weekly'

# Cohort ends
# Do not modify the start date
# Add a month to the end date
# Requirement for end date to be several periods in the future 
# as due date of paid loans could be up to 30 days away
periods = pd.date_range(start='2022-04-01', 
                       end='2023-01-08',
                       freq='W') # W for weekly M for monthly
periods

DatetimeIndex(['2022-04-03', '2022-04-10', '2022-04-17', '2022-04-24',
               '2022-05-01', '2022-05-08', '2022-05-15', '2022-05-22',
               '2022-05-29', '2022-06-05', '2022-06-12', '2022-06-19',
               '2022-06-26', '2022-07-03', '2022-07-10', '2022-07-17',
               '2022-07-24', '2022-07-31', '2022-08-07', '2022-08-14',
               '2022-08-21', '2022-08-28', '2022-09-04', '2022-09-11',
               '2022-09-18', '2022-09-25', '2022-10-02', '2022-10-09',
               '2022-10-16', '2022-10-23', '2022-10-30', '2022-11-06',
               '2022-11-13', '2022-11-20', '2022-11-27', '2022-12-04',
               '2022-12-11', '2022-12-18', '2022-12-25', '2023-01-01',
               '2023-01-08'],
              dtype='datetime64[ns]', freq='W-SUN')

In [50]:
def loans_by_period(start, end):
    
    query = """with all_trans as (select 
    distinct b.user_reference, 
    a.UserAccount 
    from kohoapi.transaction_succeeded_events as a
                left join 
                (select distinct account_group_identifier, user_reference from accounts.kledger_accounts group by 1,2) as b
            on a.UserAccount = b.account_group_identifier
    where a.PaymentCode in ('CRB-CR-A-E-001','CRB-DR-A-E-001','CRB-DR-A-E-002','CRB-TR-A-I-001','CRB-TR-A-I-002') 
        and date(a.PostedAt,'America/Denver') <= '{1}'
    group by 1,2),
    
    min_date as (select
    a.account_identifier,
    min(a.created_at) as open_date
    from feature.loans as a
    inner join all_trans as b on a.account_identifier = b.UserAccount
    where a.loan_type in ('creditbuilding')
    group by 1),
    
    max_date as (select
    a.account_identifier,
    max(a.created_at) as open_date
    from feature.loans as a
    inner join all_trans as b on a.account_identifier = b.UserAccount
    where a.loan_type in ('creditbuilding')
    group by 1),
    
    all_acct as (select
    datetime(date('{1}')) as snapshot,
    b.user_reference,
    a.account_identifier,
    datetime(a.open_date,'America/Denver') as open_date,
    d.loan_type,
    d.amount as CBLimit,
    d.status,
    datetime(d.updated_at,'America/Denver') as updated_at
    from min_date as a
        inner join all_trans as b
            on a.account_identifier = b.UserAccount
        left join max_date as c
            on a.account_identifier = c.account_identifier
        inner join feature.loans as d
            on c.account_identifier = d.account_identifier and c.open_date = d.created_at
    ),

    withdraw as (select 
    b.user_reference,
    a.UserAccount, 
    DATETIME(a.PostedAt,'America/Denver') as PostedAt, 
    a.TransactionID, 
    cast(trim(a.Amount,"$") as FLOAT64) as Amount, 
    a.PaymentCode,
    'Borrow' AS TR_Desc
    from kohoapi.transaction_succeeded_events as a
        left join 
        (select distinct account_group_identifier, user_reference from accounts.kledger_accounts group by 1,2) as b
            on a.UserAccount = b.account_group_identifier
    where a.PaymentCode in ('CRB-TR-A-I-001') and date(a.PostedAt,'America/Denver') <= '{1}' 
        order by a.UserAccount, a.PostedAt),

    -- needed so that we can weed out some stray repayment transactions 
    first_loan as (select UserAccount, min(PostedAt) as first_loan_date from withdraw group by 1),
    
    repay as (select 
    b.user_reference,
    a.UserAccount, 
    DATETIME(a.PostedAt,'America/Denver') as PostedAt, 
    a.TransactionID, 
    -cast(trim(a.Amount,"$") as FLOAT64) as Amount, 
    a.PaymentCode,
    'Repay' AS TR_Desc
    from kohoapi.transaction_succeeded_events as a
        left join 
        (select distinct account_group_identifier, user_reference from accounts.kledger_accounts group by 1,2) as b
            on a.UserAccount = b.account_group_identifier
        inner join first_loan as c 
            on a.UserAccount = c.UserAccount and DATETIME(a.PostedAt,'America/Denver') >= c.first_loan_date
    where a.PaymentCode in ('CRB-TR-A-I-002') and date(a.PostedAt,'America/Denver') <= '{1}' 
        order by a.UserAccount, a.PostedAt), 
    
    raw as (select *, 

    CAST (sum(amount) 
        over (partition by user_reference 
            order by PostedAt asc rows between unbounded preceding and current row) AS FLOAT64) as OS

    from (select * from withdraw 

    union all 

    select * from repay

    order by 1,2,3)),
    
    paired_withdraw as (select 
        a.*, 
        min(b.PostedAt) as next_withdrawal_date,
        from withdraw as a 
            left join withdraw as b 
            on a.user_reference = b.user_reference 
                and a.PostedAt < b.PostedAt group by 1,2,3,4,5,6,7 order by 1,2,3),
    
    grouped_withdraw_repay as (select 
       a.*, 
        sum(b.Amount) as RepaymentAmount, 
        max(b.PostedAt) as RepaymentDate 
        from paired_withdraw as a left join repay as b 
        on a.user_reference = b.user_reference 
            and ((a.next_withdrawal_date is not null and b.PostedAt >= a.PostedAt and b.PostedAt <= a.next_withdrawal_date) 
            or (a.next_withdrawal_date is null and b.PostedAt >= a.PostedAt))
        group by 1,2,3,4,5,6,7,8),
        
    grouped_repay as (select a.user_reference, a.PostedAt as PrevWithdrawDate, a.RepaymentDate, a.RepaymentAmount  
        from grouped_withdraw_repay as a 
        inner join 
            (select user_reference, max(PostedAt) as PostedAt from grouped_withdraw_repay group by 1) as b 
        on a.user_reference = b.user_reference and a.PostedAt = b.PostedAt
        where RepaymentDate IS NOT NULL),
    
    staging as (select 
        a.user_reference, 
        b.last_TR,
        a.TR_Desc as Last_TR_Desc,
        CASE 
            when a.OS BETWEEN -0.01 and 0.01 then 0
            else a.OS
        END as OS,
        c.withdrawals as in_month_withdrawals,
        d.repayments as in_month_repayments,
        e.PrevWithdrawDate,
        -e.RepaymentAmount as RepaymentAmount,
        case
            when PrevWithdrawDate is not null then -e.RepaymentAmount + a.OS
            else a.OS
        end as prev_OS
        from raw as a
            inner join 
                (select distinct user_reference, max(PostedAt) as last_TR from raw group by 1) as b
                on a.user_reference = b.user_reference and a.PostedAt = b.last_TR
            left join 
                (select 
                    distinct user_reference, 
                    sum(Amount) as withdrawals 
                    from withdraw 
                    where last_day(date(PostedAt), week(monday)) = '{1}'
                    group by 1) as c 
            on a.user_reference = c.user_reference
            left join 
                (select 
                    distinct user_reference, 
                    -sum(Amount) as repayments 
                    from repay
                    where last_day(date(PostedAt), week(monday)) = '{1}'
                    group by 1) as d 
            on a.user_reference = d.user_reference
            left join 
                grouped_repay as e on a.user_reference = e.user_reference and a.PostedAt = e.RepaymentDate),

date_calc as (select 
    user_reference, 
    last_TR, 
    Last_TR_Desc, 
    OS, 
    in_month_withdrawals, 
    in_month_repayments, 
    PrevWithdrawDate, 
    RepaymentAmount, 
    Prev_OS,
    case
        -- Trivial case where the user owed <= $67.50 and paid it all back. 
        when PrevWithdrawDate is not null and Prev_OS <= 67.50 
            and RepaymentAmount >= Prev_OS then DATETIME_ADD(PrevWithdrawDate,INTERVAL 30 DAY)
        -- Case where the user owed <= 67.50 but did not pay back the full amount. In that case their due date is the last disbursement + 30 days
        when PrevWithdrawDate is not null and Prev_OS <= 67.50 
            and RepaymentAmount < Prev_OS then DATETIME_ADD(PrevWithdrawDate,INTERVAL 30 DAY)
        -- Trivial case where user owed more than 67.50 and paid it all back. It could be in a series of small payments.
        when PrevWithdrawDate is not null and Prev_OS > 67.50 
            and RepaymentAmount >= Prev_OS then DATETIME_ADD(PrevWithdrawDate,INTERVAL 30 DAY)
        -- The case where the user owed more than 67.50 and made the minimum payment
        when PrevWithdrawDate is not null and Prev_OS > 67.50 
            and RepaymentAmount < Prev_OS and RepaymentAmount >= GREATEST(0.3*prev_OS, 67.50) then DATETIME_ADD(last_TR,INTERVAL 30 DAY)
        -- The case where the user owed more than 67.50 and made less than the minimum payment
        when PrevWithdrawDate is not null and Prev_OS > 67.50 
            and RepaymentAmount < Prev_OS and RepaymentAmount < GREATEST(0.3*prev_OS, 67.50) then DATETIME_ADD(PrevWithdrawDate,INTERVAL 30 DAY)
        -- Last transaction was a withdrawal. It is ASSUMED that the user was allowed to withdraw (system checked user was current).
        else DATETIME_ADD(last_TR,INTERVAL 30 DAY)
    end as due_date
    from staging),
    
    accessed as (select 
        user_reference,
        last_TR,
        Last_TR_Desc,
        in_month_withdrawals, 
        in_month_repayments, 
        OS,
        due_date,
        case
            when OS > 0 and date(due_date) >= '{1}' then "1. Current"
            when OS > 0 and date(due_date) < '{1}' 
                and date_diff('{1}', date(due_date), DAY) between 1 and 30 then "2. 1 to 30"
            when OS > 0 and date(due_date) < '{1}' 
                and date_diff('{1}', date(due_date), DAY) between 31 and 60 then "3. 31 to 60"
            when OS > 0 and date(due_date) < '{1}' 
                and date_diff('{1}', date(due_date), DAY) between 61 and 90 then "4. 61 to 90"
            when OS > 0 and date(due_date) < '{1}' 
                and date_diff('{1}', date(due_date), DAY) >= 91 then "5. 91+"
            else "1. Current"
        end as status
        from date_calc)
        
select 
    a.snapshot,
    case
        when b.OS is not null then 'Yes'
        else 'No'
    end as accessed,
    a.user_reference, 
    a.account_identifier,
    date(a.open_date) as open_date,
    a.loan_type,
    a.CBLimit,
    case 
        when b.status is not null then b.status
        when b.status is null and a.status = 'cancelled' and date(a.updated_at) <= '{1}' then '6. Cancelled'
        else '1. Current'
    end as snapshot_status,
    case 
        when b.in_month_withdrawals is null then 0
        else b.in_month_withdrawals
    end as in_month_withdrawals,
    case 
        when b.in_month_repayments is null then 0
        else b.in_month_repayments
    end as in_month_repayments,
    case 
        when b.OS is null then 0
        else b.OS
    end as OS,
    case 
        when b.due_date is null then '{1}'
        else date(b.due_date)
    end as due_date,
    
    --This section of the code is modified (from the monthly run) so that it handles week over week calcs
                    
         

    last_day(date_sub(date('{1}'), INTERVAL 1 WEEK), ISOWEEK) as prev_snap,
    
    last_day(date(a.open_date), MONTH) as cohort_end_month,
    last_day(date(a.open_date), ISOWEEK) as cohort_end
    
    from all_acct as a
    left join accessed as b
        on a.user_reference = b.user_reference
    
    -- remove any stale accounts
    where not (a.status = 'cancelled' and last_day(date(a.updated_at), MONTH) < date('{1}'))""".format(start, end)

    loans = pgbq.read_gbq(query, project_id, dialect='standard')
    
    return loans

# initializing curr_loans
curr_loans = loans_by_period(periods[0].strftime('%Y-%m-%d'),periods[periods.size-1].strftime('%Y-%m-%d'))

Downloading: 100%|██████████████████| 130408/130408 [01:11<00:00, 1822.85rows/s]

In [51]:
curr_loans.head()

,snapshot,accessed,user_reference,account_identifier,open_date,loan_type,CBLimit,snapshot_status,in_month_withdrawals,in_month_repayments,OS,due_date,prev_snap,cohort_end_month,cohort_end
0,2023-01-08,Yes,zowHJtk4,0b896ba1-e78d-4a93-ae66-3dd84328cfe6,2020-09-28,creditbuilding,225.0,2. 1 to 30,0.0,15.51,183.99,2022-12-30,2023-01-01,2020-09-30,2020-10-04
1,2023-01-08,Yes,SLIIiyDQ,a141c368-7d55-4921-89b0-7bd4e4780ec4,2020-12-26,creditbuilding,225.0,1. Current,225.0,2.97,222.03,2023-02-02,2023-01-01,2020-12-31,2020-12-27
2,2023-01-08,Yes,msRtt8gH,17cf947f-1ec2-4e1c-8403-eeeb6c57beb3,2020-09-27,creditbuilding,225.0,2. 1 to 30,0.0,0.00,222.13,2022-12-29,2023-01-01,2020-09-30,2020-09-27
3,2023-01-08,Yes,ME_QvJfM,424c18b9-63c2-4366-9979-a3ca3990087c,2021-01-22,creditbuilding,225.0,2. 1 to 30,0.0,0.00,80.66,2022-12-19,2023-01-01,2021-01-31,2021-01-24
4,2023-01-08,Yes,yqbzEyw9,5b05e171-08fc-4c4f-8fc0-179fb88eed39,2021-01-18,creditbuilding,225.0,2. 1 to 30,0.0,0.00,108.74,2022-12-20,2023-01-01,2021-01-31,2021-01-24

In [52]:
# creating stacked dataset
i = 1
while i < periods.size-1:
    curr_loans = pd.concat([curr_loans, loans_by_period(periods[0].strftime('%Y-%m-%d'),periods[i].strftime('%Y-%m-%d'))], ignore_index=True)
    i += 1

Downloading: 100%|████████████████████| 74086/74086 [00:20<00:00, 3692.36rows/s]
Downloading: 100%|████████████████████| 75821/75821 [00:24<00:00, 3060.53rows/s]
Downloading: 100%|████████████████████| 77629/77629 [00:24<00:00, 3226.24rows/s]
Downloading: 100%|████████████████████| 78823/78823 [00:39<00:00, 1971.25rows/s]
Downloading: 100%|████████████████████| 80479/80479 [00:22<00:00, 3560.29rows/s]
Downloading: 100%|████████████████████| 82076/82076 [00:22<00:00, 3699.11rows/s]
Downloading: 100%|████████████████████| 83682/83682 [00:21<00:00, 3901.15rows/s]
Downloading: 100%|████████████████████| 85195/85195 [00:24<00:00, 3440.99rows/s]
Downloading: 100%|████████████████████| 86104/86104 [00:22<00:00, 3875.00rows/s]
Downloading: 100%|████████████████████| 87531/87531 [00:23<00:00, 3721.38rows/s]
Downloading: 100%|████████████████████| 88974/88974 [00:26<00:00, 3388.79rows/s]
Downloading: 100%|████████████████████| 90136/90136 [00:24<00:00, 3616.06rows/s]
Downloading: 100%|████████████████████| 90681/90681 [00:27<00:00, 3344.76rows/s]
Downloading: 100%|████████████████████| 92034/92034 [00:24<00:00, 3763.32rows/s]
Downloading: 100%|████████████████████| 93338/93338 [00:25<00:00, 3681.55rows/s]
Downloading: 100%|████████████████████| 94800/94800 [00:25<00:00, 3730.30rows/s]
Downloading: 100%|████████████████████| 96290/96290 [00:25<00:00, 3784.59rows/s]
Downloading: 100%|████████████████████| 96831/96831 [00:26<00:00, 3666.88rows/s]
Downloading: 100%|████████████████████| 98236/98236 [00:25<00:00, 3791.51rows/s]
Downloading: 100%|████████████████████| 99721/99721 [00:27<00:00, 3637.71rows/s]
Downloading: 100%|██████████████████| 101275/101275 [00:26<00:00, 3788.19rows/s]
Downloading: 100%|██████████████████| 101751/101751 [00:27<00:00, 3751.28rows/s]
Downloading: 100%|██████████████████| 103263/103263 [00:30<00:00, 3400.69rows/s]
Downloading: 100%|██████████████████| 104946/104946 [00:29<00:00, 3593.20rows/s]
Downloading: 100%|██████████████████| 106596/106596 [00:27<00:00, 3808.55rows/s]
Downloading: 100%|██████████████████| 106833/106833 [00:29<00:00, 3660.29rows/s]
Downloading: 100%|██████████████████| 108430/108430 [00:29<00:00, 3669.07rows/s]
Downloading: 100%|██████████████████| 111026/111026 [00:29<00:00, 3773.34rows/s]
Downloading: 100%|██████████████████| 115637/115637 [00:30<00:00, 3775.55rows/s]
Downloading: 100%|██████████████████| 119048/119048 [00:32<00:00, 3664.74rows/s]
Downloading: 100%|██████████████████| 119883/119883 [00:36<00:00, 3293.59rows/s]
Downloading: 100%|██████████████████| 121594/121594 [00:36<00:00, 3366.09rows/s]
Downloading: 100%|██████████████████| 123489/123489 [00:33<00:00, 3701.10rows/s]
Downloading: 100%|██████████████████| 126184/126184 [00:33<00:00, 3787.89rows/s]
Downloading: 100%|██████████████████| 125590/125590 [00:36<00:00, 3411.40rows/s]
Downloading: 100%|██████████████████| 127146/127146 [00:35<00:00, 3596.55rows/s]
Downloading: 100%|██████████████████| 128969/128969 [00:35<00:00, 3642.61rows/s]
Downloading: 100%|██████████████████| 130808/130808 [01:56<00:00, 1124.09rows/s]
Downloading: 100%|██████████████████| 128721/128721 [00:43<00:00, 2955.95rows/s]

In [53]:
curr_loans.shape

(4094064, 15)

In [54]:
# A bit of code to speed up execution later
# We split out those accounts that have been accessed (much smaller group) and treat them separately

ever_query = """select 
    distinct b.user_reference,
    a.UserAccount as account_identifier,
    'Yes' as ever_accessed
    from kohoapi.transaction_succeeded_events as a
        left join 
        (select distinct account_group_identifier, user_reference from accounts.kledger_accounts group by 1,2) as b
            on a.UserAccount = b.account_group_identifier
    where a.PaymentCode in ('CRB-TR-A-I-001')
        group by 1,2"""

ever = pgbq.read_gbq(ever_query, project_id, dialect='standard')

Downloading: 100%|████████████████████| 21101/21101 [00:02<00:00, 7406.42rows/s]

In [55]:
# adding ever accessed flag

curr_loans = curr_loans.merge(ever, how='left', left_on=["user_reference", "account_identifier"], right_on=["user_reference","account_identifier"])

In [56]:
curr_loans.shape

(4094064, 16)

In [57]:
curr_loans['ever_accessed'].value_counts()

Yes    592343
Name: ever_accessed, dtype: int64

In [58]:
curr_loans_2 = curr_loans.copy(deep=True)

In [59]:
# curr_loans_2['days_between_curr_and_dep'] = ((curr_loans_2['snapshot'] - curr_loans_2['dep_date'])/np.timedelta64(1,'D')).astype(int)
# curr_loans_2['days_between_paid_and_due'] = ((curr_loans_2['update_date'] - curr_loans_2['due_date'])/np.timedelta64(1,'D')).astype(int)
# curr_loans_2['days_between_curr_and_paid'] = ((curr_loans_2['snapshot'] - curr_loans_2['update_date'])/np.timedelta64(1,'D')).astype(int)
# curr_loans_2['days_between_curr_and_due'] = ((curr_loans_2['snapshot'] - curr_loans_2['due_date'])/np.timedelta64(1,'D')).astype(int)

In [60]:
curr_loans_2.head()

,snapshot,accessed,user_reference,account_identifier,open_date,loan_type,CBLimit,snapshot_status,in_month_withdrawals,in_month_repayments,OS,due_date,prev_snap,cohort_end_month,cohort_end,ever_accessed
0,2023-01-08,Yes,zowHJtk4,0b896ba1-e78d-4a93-ae66-3dd84328cfe6,2020-09-28,creditbuilding,225.0,2. 1 to 30,0.0,15.51,183.99,2022-12-30,2023-01-01,2020-09-30,2020-10-04,Yes
1,2023-01-08,Yes,SLIIiyDQ,a141c368-7d55-4921-89b0-7bd4e4780ec4,2020-12-26,creditbuilding,225.0,1. Current,225.0,2.97,222.03,2023-02-02,2023-01-01,2020-12-31,2020-12-27,Yes
2,2023-01-08,Yes,msRtt8gH,17cf947f-1ec2-4e1c-8403-eeeb6c57beb3,2020-09-27,creditbuilding,225.0,2. 1 to 30,0.0,0.00,222.13,2022-12-29,2023-01-01,2020-09-30,2020-09-27,Yes
3,2023-01-08,Yes,ME_QvJfM,424c18b9-63c2-4366-9979-a3ca3990087c,2021-01-22,creditbuilding,225.0,2. 1 to 30,0.0,0.00,80.66,2022-12-19,2023-01-01,2021-01-31,2021-01-24,Yes
4,2023-01-08,Yes,yqbzEyw9,5b05e171-08fc-4c4f-8fc0-179fb88eed39,2021-01-18,creditbuilding,225.0,2. 1 to 30,0.0,0.00,108.74,2022-12-20,2023-01-01,2021-01-31,2021-01-24,Yes

In [61]:
# Delete snapshots that are greater than the current month
final = curr_loans_2[curr_loans_2.snapshot <= curr_week_end]

In [ ]:
# File will be split into two for further processing to speed up execution
final_accessed = final[final.ever_accessed == 'Yes']

# Sort
final_accessed.sort_values(['user_reference', 'snapshot'], inplace = True)

# reset index
final_accessed.reset_index(drop=True, inplace=True)

final_accessed.to_csv('accessed2.csv', index=True)


# add prev dlq bucket
final_accessed['prev_status'] = '0. New'

# add new loan flag
final_accessed['new_loan'] = 'No'

for ind in final_accessed.index:
    if ind == 0 and final_accessed['snapshot'][ind] == final_accessed['cohort_end'][ind]:
        final_accessed['prev_status'][ind] = '0. non existent'
        final_accessed['new_loan'][ind] = 'Yes'
    elif ind == 0 and final_accessed['snapshot'][ind] != final_accessed['cohort_end'][ind]:
        final_accessed['prev_status'][ind] = '1. Current'
        final_accessed['new_loan'][ind] = 'No'
    else:
        if final_accessed['account_identifier'][ind] == final_accessed['account_identifier'][ind-1]:
            final_accessed['prev_status'][ind] = final_accessed['snapshot_status'][ind-1]
        elif final_accessed['account_identifier'][ind] != final_accessed['account_identifier'][ind-1]:
            if final_accessed['snapshot'][ind] == final_accessed['cohort_end'][ind]:
                final_accessed['prev_status'][ind] = '0. non existent'
                final_accessed['new_loan'][ind] = 'Yes'
            elif final_accessed['snapshot'][ind] != final_accessed['cohort_end'][ind]:
                final_accessed['prev_status'][ind] = '1. Current'
                final_accessed['new_loan'][ind] = 'No'
            
# Add new default flag
final_accessed['new_default'] = '3. NA'

for ind in final_accessed.index:
    if final_accessed['snapshot_status'][ind] == '5. 91+':
        if final_accessed['prev_status'][ind] != '5. 91+':
            final_accessed['new_default'][ind] = '1. Yes'
        else:
            final_accessed['new_default'][ind] = '2. No'

/home/jovyan/.local/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/tmp/ipykernel_69/1432217477.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_accessed['prev_status'] = '0. New'
/tmp/ipykernel_69/1432217477.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_accessed['new_loan'] = 'No'
/tmp/ipykernel_69/1432217477.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_accessed['prev_status'][ind] = '1. Current'
/tmp/ipykernel_69/1432217477.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_accessed['new_loan'][ind] = 'No'
/tmp/ipykernel_69/1432217477.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_accessed['prev_status'][ind] = final_accessed['snapshot_status'][ind-1]
/tmp/ipykernel_69/1432217477.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_accessed['prev_status'][ind] = '1. Current'
/tmp/ipykernel_69/1432217477.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_accessed['new_loan'][ind] = 'No'
/tmp/ipykernel_69/1432217477.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_accessed['prev_status'][ind] = '0. non existent'
/tmp/ipykernel_69/1432217477.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_accessed['new_loan'][ind] = 'Yes'

In [ ]:
final_not_accessed = final[final.ever_accessed != 'Yes']

# Sort
final_not_accessed.sort_values(['user_reference', 'snapshot'], inplace = True)

# reset index
final_not_accessed.reset_index(drop=True, inplace=True)

# add prev dlq bucket
final_accessed['prev_status'] = '0. non existent'

# add new loan flag
final_accessed['new_loan'] = '0. No'

final_not_accessed['prev_status'] = np.where(final_not_accessed['snapshot'] == final_not_accessed['cohort_end'], '0. non existent', '1. Current')

final_not_accessed['new_loan'] = np.where(final_not_accessed['snapshot'] == final_not_accessed['cohort_end'], '1. Yes', '0. No')

# Add new default flag
final_not_accessed['new_default'] = '3. NA'

In [ ]:
# Remerge

final = pd.concat([final_accessed, final_not_accessed], axis=0)

# Sort
final.sort_values(['user_reference', 'snapshot'], inplace = True)

# reset index
final.reset_index(drop=True, inplace=True)

In [ ]:
# output the results to a spreadsheet
# final.to_csv(csv_out_name, index=False)

In [ ]:
# Upload data back to the cloud 
pgbq.to_gbq(final, out_table, project_id, if_exists='replace')